.container {
    font-family: cursive;
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(221, 215, 227);
    height: 500px;
    border: 2px solid black;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 25px;
}
.inp_one{
    margin: 10px;
}
.sec_in {
    text-align: center;
    box-shadow: 2px 2px black;
    font: bold 15px cursive;
    background-color: rgb(239, 237, 241);
    margin-top: 10px; /* Adjust top margin as needed */
}

.first {
    background-color: rgb(249, 249, 249);
    font: bold 15px cursive;
    box-shadow: 2px 2px black;
}

/* New background color classes */
.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
}

.green-background {
    background-color: green;
}

.card-body {
    padding: 20px; /* Adjust padding around the content */
}



/* 
.inp_one{
    padding: 3px;
    border: 2px solid rgb(205, 174, 201);
}

.blue-background {
    background-color: blue;
    position: absolute;
    left: 180px;
    top: 250px;
    width: 100px;
    height: 70px;
    padding: 20px;
    box-shadow: 2px 2px solid rgb(5, 3, 3);
}

.red-background {
    background-color: red;
    position: absolute;
    left: 180px;
    top: 250px;
    width: 100px;
    height: 70px;
    padding: 20px;
}

.green-background {
    background-color: green;
    position: absolute;
    left: 180px;
    top: 250px;
    width: 100px;
    height: 70px;
    padding: 20px;
} */
